@CHARSET "ISO-8859-1";
.label-name{
	font-size: 20px;
	font-weight: bold;
	color: black;
	margin-left: 30px
}
.lable-size{
	font-size: =15px;
	font-weight: bold;
	margin-left: 30px;
	position: absolute;
	left: 40px;
	
}
.cancel-btn{
	margin-left: 20px;
}
.employee-form{
	padding-left: 50px;
}
.emp-details-form{
	width: 65%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 13%;
}
.user-type{
	margin-left: 40ox;
}
.head-name{
	color: black;
    font-weight: bold; 
    font-size: 50px;
}
.index-form{
	width: 65%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 15%;
	font-size: =15px;
	font-weight: bold;
	color: black;
}
.userid{
	margin-left: 75px;
}
.password{
	margin-left: 34px;
}
.firstName{
	margin-left: 40px;
}
.lastName{
	margin-left: 22px;
}
.phoneNumber{
	margin-left: 12px;
}
.emailid{
	margin-left: 45px;
}
.dateofjoining{
	margin-left: 10px;
}
.dateofbirth{
	margin-left: 37px;
}
.address{
	margin-left: 65px;
}
.department{
	margin-left: 16px
}
.salary{
	margin-left: 78px;
}
.usertype{
	margin-left: 40px;
}